
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



h1 {
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
}

h2 {
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 20;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 40px 0 0 10px;
    float: left;
}

h4 {
    color: darkred;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
}

.main-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 20;
}

.xdevil-img {
    padding-bottom: 15px;
}

.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
}

.other-blog {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    width: 25%;
    float: left;
    padding-bottom: 10px;

}

.author-box {
    border-top: 1px solid gray;
    padding-top: 10px;
}

.author-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    float: left;
}



.aboutme {
    padding: 0 0 10px 0;
}

.socialmedia {
    padding: 0 0 10px 0;
}

.esport {
    padding: 0 0 10px 0;
}



